<div class="question">
  <h2>Question {{question.id}}</h2>
  <p>
    {{question.text}}
  </p>
  <form>
    <li>
      <div class="radio-toolbar">
        <input type="radio" id = "radio1" checked> 
        <label for = "radio1">{{question.options[0]}}</label>
        <input type="radio" id = "radio2"> 
        <label for = "radio2">{{question.options[1]}}</label>
      </div>
    </li>
  </form>
</div>
<div class="nav-buttons">
    <button (click)="previousQuestion()">Back</button>
    <button>Submit</button>
    <button (click)="nextQuestion()">Next</button>
</div>

