html, body {
  height: 100%
}

.question div{
  height: 100%;
}

.question h2 {
  text-align: center;
}

.question p {
  height: 100%;
  text-align: left;

}

.question form{
  height: 100%;
  text-align: left;
}

.radio-toolbar{
  margin-bottom: 4px;
}
.radio-toolbar input[type="radio"] {
    display: none;
  }

.radio-toolbar label {
  width: 131px;
  display: inline-block;
  background-color: #ddd;
  padding: 4px 11px;
  font-family: Arial;
  font-size: 16px;
  cursor: pointer;
}

.radio-toolbar input[type="radio"]:checked+label {
  background-color: #bbb;
}

.nav-buttons {
  bottom: 0;
  position: fixed;
  height: 100px;
}

.nav-buttons button {
  width: 100px;
  background-color: #ccc; 
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
