.wrapper{
  max-width: 318px;
  max-height: 800px;
}

div{
  font-family: Helvetica, Arial, Sans-Serif;
  text-align: center;
  max-width: 318px;
  max-height: 800px;
}

div h1 {
  font-size: 250%;
  color: #0000ff;
  margin-bottom: 0;
  display: inline-block;
}

div img{
  display: inline-block;
}

.nav-buttons {
  top: 0;
  position: fixed;
  height: 70px;
}

.nav-buttons button {
  width: 70px;
  height: 40px;
  background-color: #ddd;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
