<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img 
    src="https://upload.wikimedia.org/wikipedia/en/e/e3/DemocraticLogo.png" 
    width="50" 
    height="50"
  />
  <img 
    src="/home/matt/poliamorous/poliamorous-js/src/app/DemocraticLogo.png" 
    width="50" 
    height="50"
  />
  <h1>
    {{title}}
  </h1>
  <img 
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Republicanlogo.svg/600px-Republicanlogo.svg.png" 
    width="50" 
    height="50"
  />
</div>

