<div class="profile">
  <h2>{{user.name}}</h2>
  <img 
    src="https://github.com/MthwRobinson/poliamorous/blob/master/poliamorous-js/src/assets/cheney.jpeg?raw=true" 
  />
  <div class="profile-display">
    <span><b>School:</b> {{user.school}}</span><br/>
    <span><b>Party:</b> {{user.party}}</span><br/>
    <span><b>Job:</b> {{user.job}}</span><br/>
    <span><b>Profile:</b> {{user.profile}}</span>
  </div>
</div>
<div class="nav-buttons">
  <button>No</button>
  <button>Yes</button>
</div>

