h2 {
  margin: 2px;
  font-family: sans-serif;
}

img {
  max-height: 180px;
  max-width: 180px;
  margin: auto;
}

.profile-display{
  margin-top: 10px;
}

span {
  font: sans-serif;
  width: 90%;
  font-size: 14px;
  text-align: left;
  display: inline-block;
  margin: 4px;
  margin: auto;
}

.nav-buttons {
  bottom: 0;
  position: fixed;
  height: 100px;
  margin-left: 50px;
}

.nav-buttons button {
  width: 100px;
  background-color: #ccc; 
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: auto;
}
